<nav class="navbar navbar-light p-0">
  <div
    class="d-flex flex-column justify-content-center align-items-center w-100 h-100"
  >
    <div class="name font-weight-bold font-italic">Ki Min Lee</div>
    <div class="title mb-3">Data Scientist</div>
    <div style="height: 60px">
      <a routerLink fragment="about">
        <button class="btn btn-outline-dark mr-3" type="button">
          About Me
        </button>
      </a>
      <a routerLink fragment="portfolio">
        <button type="button" class="btn btn-outline-dark mr-3">
          Portfolio
        </button>
      </a>
      <a routerLink fragment="contact">
        <button type="button" class="btn btn-outline-dark">Contact</button>
      </a>
    </div>
  </div>
</nav>
