<nav class="navbar navbar-light p-0">
  <div
    class="d-flex flex-column justify-content-center align-items-center w-100 h-100"
  >
    <div class="name font-weight-bold font-italic">Ki Min Lee</div>
    <div class="title mb-3">Data Scientist</div>
    <div style="height: 60px">
      <button
        class="btn btn-outline-dark mr-3"
        type="button"
        (click)="onClick('about')"
      >
        About Me
      </button>
      <button
        type="button"
        class="btn btn-outline-dark mr-3"
        (click)="onClick('portfolio')"
      >
        Portfolio
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="onClick('contact')"
      >
        Contact
      </button>
    </div>
  </div>
</nav>
