.container {
  max-width: 900px;
}

.quote {
  max-width: 500px;

  .text {
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
  }

  .author {
    font-size: 16px;
    font-weight: 100;
  }
}

.section {
  font-family: avenir-lt-w01_35-light1475496, sans-serif;
  font-size: 17px;
  padding-top: 40px;

  .section-title {
    margin-bottom: 70px;
  }
}

.portfolio {
  margin-bottom: 100px;

  .project-title {
    font-weight: 700;
  }

  .project-details {
    width: 400px;
  }

  img {
    width: 425px;
  }
}

button {
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  @media only screen and (min-width: 600px) {
    font-size: 20px;
  }

  @media only screen and (max-width: 600px) {
    font-size: 12px;
  }
}
