<div class="container">
  <div class="row my-5">
    <div class="col">
      <div class="my-5 d-flex flex-column align-items-center">
        <div class="quote">
          <div class="text">
            “Things get done only if the data we gather can inform and inspire
            those in a position to make [a] difference.”
          </div>
          <div class="author">– Mike Schmoker</div>
        </div>
      </div>
    </div>
  </div>

  <section id="about" class="about section row">
    <div class="col">
      <div class="section-title">
        <span class="h2 border-bottom">About Me</span>
      </div>

      <div class="mt-4 mb-3">
        Hello, my name is Ki Min and I am a data scientist. I hold a Bachelor's
        degree in science (BSc. Cell Biology, University of British Columbia,
        Vancouver, BC) and Master's degree in science (MSc. Business Analytics,
        Seattle University, Seattle, WA).
      </div>
      <div class="mb-3">
        After working as a researcher for years, I became extremely intrigued
        with data science. Data science is playing a significant role in every
        field. If it is used properly, it can lead to good decision-making.
        Finding patterns and stories hidden in data nobody else sees are
        extremely fascinating to me.
      </div>
      <div class="mb-3">
        I am currently working as a research data analysis assistant at Seattle
        University College of Nursing. As a member of the research team, I
        investigate risk factors for diabetes from population health survey data
        of California by data visualization and predictive model construction
        using machine learning algorithms.
      </div>
      <div class="mb-4">
        Do you want to work together? Please reach out to me by e-mail.
      </div>
      <img
        class="mb-5"
        src="assets/signature.webp"
        alt="signature"
        width="115"
      />
    </div>
  </section>

  <section id="portfolio" class="section row">
    <div class="col">
      <div class="section-title pb-4">
        <span class="h2 border-bottom">Portfolio</span>
      </div>

      <div class="row portfolio d-flex align-items-center">
        <img
          class="col"
          src="assets/seattle-downtown.jpg"
          alt="seattle-downtown"
        />
        <div class="col project-details">
          <h5 class="mb-3">
            <span class="project-title">Seattle Housing Market Analysis</span>
          </h5>
          <div class="mb-3">
            Extensive Exploratory Data Analysis on Seattle (King County) House
            Sales Dataset.
          </div>
          <a href="https://github.com/kilee722/House_Sale_King_County"
            >GitHub Homepage & Technical Appendix</a
          >
        </div>
      </div>

      <div class="row portfolio d-flex align-items-center">
        <div class="col project-details">
          <h5 class="mb-3">
            <span class="project-title">Vancouver Crime Rate Analysis</span>
          </h5>
          <div class="mb-3">
            Exploratory Data Analysis on Vancouver Crime Report Dataset and
            Informative Dashboard.
          </div>
          <a href="https://github.com/kilee722/Crime_Rate_Vancouver_EDA"
            >GitHub Homepage & Technical Appendix</a
          >
        </div>
        <img
          class="col"
          src="assets/crime-vancouver.jfif"
          alt="crime-vancouver"
        />
      </div>

      <div class="row portfolio d-flex align-items-center">
        <img class="col" src="assets/lendingclub.png" alt="lendingclub" />
        <div class="col project-details">
          <h5 class="mb-3">
            <span class="project-title">Capstone Project</span>
          </h5>
          <div class="mb-3">
            MSc. capstone project: Analysed and wrangled P2P lending platform
            big data. Machine learning modeling and evaluation.
          </div>
          <a href="https://github.com/kilee722/Lending-Club-Analysis"
            >GitHub Homepage & Technical Appendix</a
          >
        </div>
      </div>

      <div class="row portfolio d-flex align-items-center">
        <div class="col project-details">
          <h5 class="mb-3">
            <span class="project-title"
              >Hotel Booking Cancellations Prediction</span
            >
          </h5>
          <div class="mb-3">
            Predictive classification modeling for booking cancellations from
            Hotel Booking Demand Dataset and model evaluation
          </div>
          <a href="https://github.com/kilee722/Hotel_Booking_Cancellation"
            >GitHub Homepage & Technical Appendix</a
          >
        </div>
        <img class="col" src="assets/hotel-booking.jpg" alt="hotel-booking" />
      </div>
    </div>
  </section>

  <section id="contact" class="section row">
    <div class="col mb-5">
      <div class="section-title text-center">
        <span class="h2 border-bottom">Contact</span>
      </div>

      <div
        class="d-flex flex-column jusitfy-content-center align-items-center text-center"
      >
        <div class="mb-5">
          <a
            class="mr-2"
            href="https://www.linkedin.com/in/ki-min-lee-1b5b39191"
          >
            <button class="btn btn-outline-dark" type="button">
              <fa-icon [icon]="faLinkedin" size="lg"></fa-icon>
              LinkedIn
            </button>
          </a>
          <a class="mr-2" href="https://github.com/kilee722">
            <button class="btn btn-outline-dark" type="button">
              <fa-icon [icon]="faGithub" size="lg"></fa-icon>
              GitHub
            </button>
          </a>
          <a href="assets/resume.pdf" download>
            <button class="btn btn-outline-dark" type="button">
              <fa-icon [icon]="faAddressCard" size="lg"></fa-icon>
              Resume
            </button>
          </a>
        </div>

        <div>Vancouver, BC, Canada</div>
        <div>
          You can directly send a message at
          <a href="mailto:klee604@outlook.com">klee604@outlook.com</a>
        </div>
      </div>
    </div>
  </section>
</div>
